<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% Category.all.each do |kategorija| %>
    <%= link_to kategorija.name, jobs_path(category: kategorija.name) %>
    <% end %>
  <%= yield %>
</div>

</body>
</html>
